<!DOCTYPE html>
<html>
<head>
  <h1>Lab 10</h1>
</head>

<body>
  <ol>
    <li>Liam Kolber, Evan Dorrough</li>
    <li>4-2-2018</li>
    <li>CSCI-3308</li>
    <li>Answers to Questions <br>
      <ol>
        <li>Infrastructure as a Service provides total infrastructure remotely - resources, storage, networking, computers. This differs greatly from Platform as a Service, which provides a software development platform which can develop and run applications and software at scale without providing the infrastructure (storage, servers, switches). Choosing IaaS over PaaS becomes important because sometimes a user would want to access the "nuts and bolts" of the computer through the cloud, like accessing memory, and multithreading. A cloud virtual machine service would want to choose IaaS over PaaS because the cloud VM needs to have access to the physical memory that the IaaS has to offer, whereas PaaS does not have access to the physical memory.</li>
        <li>Cloud storage is vulnerable to the same security concerns that a normal server farm has, such as redundancy. If a single point of failure (SPOF) leads to the failure of the whole cloud, such as a virus infecting a single computer in the cloud and in turn infecting the rest of the cloud, then the security of the cloud is at risk. Additionally, surrendering control of your information to the cloud puts you at risk of compromising all of your data without knowing about the attack or being able to correct the attack.</li>
        <li>Imagine if the Department of Defense (DoD) hosted their services and data on the cloud, such as Amazon Web Services (AWS). If AWS were to be hacked and breached to the extent of the Equifax security breach earlier this year, then the integrity of the US Government would be at risk. Instead, the DoD should host their information privately, secure from breaches in the public sector.</li>
      </ol>
    </li>
  </ol>
</body>
</html>
